.thumbs{
  display: flex;
  align-items: center;
  justify-content: center;
}

.thumbs__wrap {
  width: 560px;
  overflow: hidden;
  position: relative;
}

.thumbs__list {
  display: inline-block;
  white-space: nowrap;
}